<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
          http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- beanNames samples -->
    <bean id="bean1" class="com.yusuf.spring.model.ExampleBean">
    </bean>

    <bean name="bean2" class="com.yusuf.spring.model.ExampleBean">
    </bean>

    <bean name="bean3,bean3Alias" class="com.yusuf.spring.model.ExampleBean">
    </bean>
    
    <!-- factory method samples -->
    <bean id="clientService" class="com.yusuf.spring.model.ClientService" factory-method="createInstance"/>
    
    <!-- bean dependencies -->
    <bean name="featuredProduct" class="com.yusuf.spring.model.Product">
	    <constructor-arg name="name" value="Keyboard"/>
	    <constructor-arg name="price" value="89.99"/>
	</bean>
	
	<bean id="productName" class="java.lang.String">
	    <constructor-arg value="Keyboard"/>
	</bean>
	
	<bean name="featuredProduct2" class="com.yusuf.spring.model.Product">
	    <constructor-arg name="name" ref="productName" />
	    <constructor-arg name="price" value="99.99" />
	</bean>
	
	<bean name="featuredProduct3" class="com.yusuf.spring.model.Product">
	    <property name="name" ref="productName" />
	    <property name="price" value="109.99" />
	</bean>
	
	<!-- inner beans -->
	
	<bean id="outer" class="com.yusuf.spring.model.DisplayProduct">
		<property name="variants">
	        <bean class="com.yusuf.spring.model.Sku">
	            <property name="name" value="variantName"/>
	        </bean>
	    </property>
	</bean>

	<!-- complex object -->
	
	<bean id="moreComplexObject" class="com.yusuf.spring.model.ComplexObject">
	    <property name="adminEmails">
	        <props>
	            <prop key="administrator">administrator@example.org</prop>
	            <prop key="support">support@example.org</prop>
	            <prop key="development">development@example.org</prop>
	        </props>
	    </property>
	    <property name="someList">
	        <list>
	            <value>a list element followed by a reference</value>
	            <ref bean="productName" />
	        </list>
	    </property>
	    <property name="someMap">
	        <map>
	            <entry key="an entry" value="just some string"/>
	            <entry key ="a ref" value-ref="productName"/>
	        </map>
	    </property>
	    <property name="someSet">
	        <set>
	            <value>just some string</value>
	            <ref bean="productName" />
	        </set>
	    </property>
	</bean>
	
	<!--  lazy -->
	<bean id="lazy" class="com.yusuf.spring.model.ExpensiveToCreateBean" lazy-init="true"/>
	
	<!--  scopes -->
	<bean id="customerService" class="com.yusuf.spring.model.CustomerService" />
	
	<bean id="prototypeCustomerService" class="com.yusuf.spring.model.CustomerService" scope="prototype" />
	
</beans>